:root {
    --logo-color: #000;
    --mainlogo-color: #2196F3;
    --maincolor-color: #212121;
    --background-color: #2F303A;
    --footeraddres-color:rgba(255, 255, 255, 0.60)
    --toplinenumber-color #757575;
    --sectionbg-color: #F5F4FA;

}

[href="./index.html"] {
       color: var(--logo-color);
}

a[href="./pages/studio.html"] { 
 color: var(--maincolor-color);
}

a[href="./pages/portfolio.html"] {
    color: var(--maincolor-color);
}

a[href="./pages/contact.html"] {
    color: var(--maincolor-color);
}

a[href="mailto:info@devstudio.com"] {
    color: var(--mainlogo-color);
}
a[href="tel:+380961111111"] {
    color: var(--maincolor-color);
}

[href="../index.html"] {
    color: var(--logo-color);
}

span {
 color: var(--mainlogo-color);
}

header{
font-family: Roboto;
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}

h1{
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; 
    letter-spacing: 2.64px;

}

section {
    font-family: Roboto;
}

h2 {
color: #212121;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}

[href="../pages/studio.html"] { 
    color: var(--maincolor-color);
   }
   
   a[href="../pages/portfolio.html"] {
       color: var(--maincolor-color);
   }
   
   a[href="../pages/contact.html"] {
       color: var(--maincolor-color);
   }
   
   a[href="mailto:info@devstudio.com"] {
       color: var(--mainlogo-color);
   }
   