:root {
    --logo-color: #000;
    --mainlogo-color: #2196F3;
    --maincolor-color: #212121;
    --background-color: #2F303A;
    --footeraddres-color:rgba(255, 255, 255, 0.60)
    --toplinenumber-color #757575;
    --sectionbg-color: #F5F4FA;

}
