:root {
    --logo-color: #000;
    --mainlogo-color: #2196F3;
    --maincolor-color: #212121;
    --background-color: #2F303A;
    --numberline-color:#757575;
    --main-background: #fff;
    --sectionbg-color: #F5F4FA;
    --title-color: #FFFF;
    --footertitle-color:rgba(255, 255, 255, 0.60);
    --svg-color: #AFB1B8;
    --portfolio-header-line: #ECECEC;
}