.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-top{
    align-items: center;
    display: flex;
}

.header-logo{
    color: var(--logo-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
border: none;
outline: 0px solid transparent;
}

.header-web{
    color: var(--mainlogo-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.header-list{
    display: flex;
    gap: 50px;
}

.nav-list{
    color: var(--maincolor-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.nav-list::after {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--mainlogo-color);
    left: 0;
    bottom: -34px;
    opacity: 0;
}

.nav-list:hover::after {
    opacity: 1;
}

.nav-list:hover,
.nav-list:focus{
    outline: 0px solid transparent;
      color: var(--mainlogo-color);
}

.nav-list-visited {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-list-visited:visited {
    border: none;
    outline: 0px solid transparent;
    color: var(--mainlogo-color);
   }


.nav-list-visited::after {
    position: absolute;
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--mainlogo-color);
    left: 0;
    bottom: -34px;
}

.nav-item {
    position: relative;
}

.header-address{
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.header-links {
    display: flex;
    align-items: center;
}   


.header-links {
    color: var(--numberline-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-links:hover,
.header-links:focus{
    outline: 0px solid transparent;
      color: var(--mainlogo-color);
      .header-email {
        fill: var(--mainlogo-color);
      }

      .header-tele {
        fill: var(--mainlogo-color);
      }
}

.header-email {
    width: 16px;
height: 12px;
margin-right: 10px;
fill: var(--numberline-color);
}

.header-tele {
    width: 10px;
height: 16px;   
margin-right: 10px;
fill: var(--numberline-color);
}

