.header-port{
    padding-top: 24px;
    padding-bottom: 25px;
    outline: 1px var(--portfolio-header-line) solid;
}

.header-top{
    align-items: center;
    display: flex;
}

.header-ul-port{
    display: flex;
    gap: 50px;
}

.address-port{
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.email-links {
    width: 16px;
height: 12px;
flex-shrink: 0;
margin-right: 10px;
}

.tele-links {
    width: 10px;
height: 16px;
flex-shrink: 0;
margin-right: 10px;
}

.address-list-port {
    display: flex;
    align-items: center;
}


.address-list-port:hover,
.address-list-port:focus{
      color: var(--mainlogo-color);
      .email-links {
        fill: var(--mainlogo-color);
      }

      .tele-links {
        fill: var(--mainlogo-color);
      }
}

.email-links {
    fill: var(--numberline-color);
}

.tele-links {
    fill: var(--numberline-color);
}

.port-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.port-page{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.item-port{
    border: 1px solid #EEE;
    flex-basis: calc((100% - 60px) / 3);
}

.item-port:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.port-discription {
    padding: 20px 24px 20px 24px;
}

.work-port {
    color: var(--numberline-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
margin-top: 4px;
}

.pages {
    position: relative;
    overflow: hidden;
}

.pages:hover {
    .label-page {
        opacity: 1;
    }
}

.port-img {
    width: 100%;
}

.label-page {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    color: var(--title-color);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 1.56; /* 155.556% */
letter-spacing: 0.54px;
background: rgba(33, 150, 243, 0.90);
width: 370px;
height: 294px;
flex-shrink: 0;
padding: 63px 24px;
}


.header-port {
padding-top: 24px;
padding-bottom: 25px;
}

.header-logo{
color: var(--logo-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
outline: 0px solid transparent;
}

.header-web{
color: var(--mainlogo-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.nav-list-port {
    position: relative;
}

.navigation-list-port-visited{
color: var(--mainlogo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.navigation-list-port{
color: var(--maincolor-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.navigation-list-port::after {
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--mainlogo-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -34px;
    opacity: 0;
}

.navigation-list-port:hover::after {
    opacity: 1;
}

.navigation-list-port:hover {
color: var(--mainlogo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.navigation-list-port-visited::after {
    content: " ";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--mainlogo-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -34px;
    opacity: 1;
} 

.address-list-port{
color: var(--numberline-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.address-list-port:hover{
color: var(--mainlogo-color);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.button-list{
padding-top: 94px;
padding-bottom: 94px;
}


.navigation-visited-port:visited {
 color: var(--mainlogo-color);
}

.navigation-list-port {
color: var(--maincolor-color);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}     

.address-tel-port{
color: var(--maincolor-color);
font-size: 14px;
font-weight: 500;
letter-spacing: 0.28px;
}


.address-visited-port{
color: var(--mainlogo-color);
}

.port-button{
color: var(--maincolor-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
border-radius: 4px;
background: #F5F4FA;
border: none;
padding: 6px 25px;
}

.port-button:hover{
color: #FFF;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
border-radius: 4px;
border: none;

}

.name-port{
color: var(--maincolor-color);
font-size: 18px;
font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
}


.main-footer{
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
    } 
    
    
    .footer-port {
    background-color: var(--background-color);
    }
    
    .footer-web{
    color: var(--title-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1,38;
    letter-spacing: 0.78px;
    }
    
    .footer-studio{
    color: var(--mainlogo-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    }
    
    .address-map{
    color: var(--title-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    }
    
    .address-footer{
    color: var(--footertitle-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    }
    
    .tel-footer{
    color: var(--footertitle-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    }
    
    
    .address{
        margin-top: 20px;
    }
    
    
    /* sect */
    
    .footer-join {
        color: var(--title-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    }
    
    .footer-all {
        display: flex;
        align-items: baseline;;
    }
    
    .footer-group {
        display: flex;
        flex-direction: column;
    }
    
    .footer-list {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
    
    .footer-box {
        margin-right: 70px;
        padding-right: 25px;
    }
    
    .footer-links {
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.10);;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
    }
    
    .footer-svg {
        width: 20px;
    height: 20px;
    flex-shrink: 0;
    fill: var(--title-color);
    }
    
    .footer-links:hover,
    .footer-links:focus {
        border-radius: 50%;
        background-color: var(--mainlogo-color);
    }
    
    
    /* ====================== */
    
    .footer-form {
        margin-left: 93px;
    }
    
    .form-lable {
        color: var(--title-color);
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    }
    
    .form-box {
        display: flex;
        gap: 12px;
    }
    
    .form-input {
        width: 358px;
        height: 50px;
        border-radius: 4px;
        outline: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: rgba(255, 255, 255, 0.60);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.48px;
        padding-left: 16px;
        border: none;
    }
    
    .form-btn {
    padding: 10px 28px;
    border-radius: 4px;
    background: var(--mainlogo-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--title-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    border: transparent;
    }
    
    .form-svg {
        width: 24px;
    height: 24px;
    fill: var(--title-color);
    padding-left: 10px;
    }